# Compiled class file
*.class

# virtual machine crash logs
hs_err_pid*
replay_pid*

# dev specific
# base-install/
# patchnotes/

# obsidian, as I have a vault setup in here. hence the .canvas file.
.obsidian/
